extends ../layouts/layout.pug

block content
  .row.justify-content-center
    .col-md-12
      .card.shadow
        .card-header.bg-info.text-white
          h1.text-center.mb-0 Auditoría
        .card-body.p-4
          if historial && historial.length === 0
            p.text-center No hay auditorías registradas.
          else
            table.datatable.table.table-striped.table-bordered.w-100#historialTable
              thead
                tr
                  th ID
                  th Tabla Afectada
                  th ID Registro
                  th Operación
                  th Detalles
                  th Usuario
                  th Fecha/Hora
              tbody
                each item in historial
                  tr
                    td #{item.id}
                    td #{item.tablaAfectada}
                    td #{item.registroId}
                    td #{item.operacion}
                    td #{item.detalles || 'Sin detalles'}
                    td #{item.usuario ? item.usuario.nombreUsuario : 'Sin datos'}
                    td #{new Date(item.createdAt).toLocaleString()}

block scripts
